  <footer class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <!-- Contact Column -->
        <div class="col-md-5 mb-4">
          <h5>Contact</h5>
          <p>ayanrjpoot@gmail.com</p>
        </div>
        <!-- Company Column -->
        <div class="col-md-5 mb-4">
          <h5>Currently at</h5>
          <p>Forman Christian College <br>University</p>
        </div>
        <!-- Socials Column -->
        <div class="col-md-2 mb-4">
          <h5>Socials</h5>
          <p><a href="https://upwork.com/freelancers/ayana21" class="text-light">Upwork</a></p>
          <p><a href="https://github.com/ayanrajpoot" class="text-light">Github</a></p>
          <p><a href="mailto:ayanrjpoot@gmail.com" class="text-light">Mail</a></p>
        </div>
      </div>
      <div class="row "><div class="col-md-12 text-center">All RIghts Reserved © 2025 AYAN ALI</div></div>
    </div>
    
  </footer>